.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
} /*폭을 일정하게 담기 위한 css*/

.container div h1 {
  color: darkblue;
  font-size: 22pt;
}

.container div h2 {
  color: darkblue;
  font-size: 20pt;
}

.container_body_inner div h1 {
  color: dodgerblue;
  font-size: 22pt;
  /* background-color: azure; */
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  text-decoration: none;
  color: black;
  margin-left: 3%;
  font-weight: bold;
} /* Webucks font를 위한 CSS*/

li .menu-list {
  margin-right: 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
  color: gray;
} /* 상단 배너 내의 버튼들을 디자인해주는 CSS */

.first {
  float: left;
  margin-right: 5px;
} /* 화면을 이분할하기 위해 width에 50% 적용 */

.second {
  width: 70%;
  float: right;
} /* 화면을 이분할하기 위해 width에 50% 적용 */

.second h1 {
  color: black;
  font-size: 20pt;
  font-weight: bold;
}

.left {
  font-size: 20px;
  font-weight: bold;
}

.coldbrew {
  font-size: 23px;
  font-weight: bold;
}

#one {
  display: flex;
} /* container div중 하나를 선택하기 위한 id태그*/

#one img {
  width: 95%;
}

.gray {
  text-align: right;
  color: gray;
  font-size: 12px;
  font-style: bold;
}

.coffeename {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.coffeename2 {
  font-size: 13px;
  margin-top: 3px;
  padding-bottom: 5px;
}

.seconddetail {
  padding-top: 17px;
  border-top: 3px solid black;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin: 0;
}

.productdetail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.productdetail span {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}
.productdetail2 {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.boxone {
  width: 50%;
  border-right: 2px dotted gray;
}
.boxtwo {
  width: 50%;
}

.productdetail2 ul {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 3px;
  margin: 0 15px 0 15px;
}

.productdetail2 li {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
} /* productdetail2 의 ul과 ㅣi 모두 화면과 같은 레이아웃을 적용해주기 위해 
  위와 같이 Flex가 주된 css 적용*/

.allegy {
  display: flex;
  background-color: rgb(243, 240, 240);
  height: 45px;
  align-items: center;
  padding-left: 10px;
  border-radius: 3px;
  font-weight: bold;
}
.reviewnav {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 15px;
}

.id {
  font-weight: bold;
  font-size: 13px;
}

.ment {
  font-size: 13px;
  margin-left: 5px;
}

.reviewcomment {
  font-size: 13px;
  font-weight: bold;
  color: rgb(151, 143, 143);
  background-color: rgb(243, 240, 240);
  margin-top: 20px;
  padding: 7px;
  width: 100%;
  border: 1px solid rgb(243, 240, 240);
} /* 리뷰 입력창을 위한 CSS*/

.bottomzone {
  display: flex;
  background-color: rgb(44, 40, 40);
  padding: 30px;
  justify-content: space-around;
  color: white;
  font-size: 13px;
  padding-top: 40px;
} /* 최하단부의 배너를 포괄하는 div의 CSS*/

.bottomzone ul {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
}

.bottomzone li {
  padding-bottom: 8px;
}
/* 최하단부의 ul과 li에 적용된 CSS*/
