.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container_body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_body_inner {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.container_body_inner div h1 {
  color: #2051c2;
  font-size: 24pt;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 7px lightgray;
  border-top: 2.5px solid #707070;
}

.a {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logout_text {
  font-size: 50px;
  font-weight: 600;
  margin: 50px;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.logout_ok {
  position: relative;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  border: 3px solid #2051c2;
  color: #6e6e6e;
}

.logout_no {
  position: relative;
  padding: 10px 10px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-left: 30px;
  border: 3px solid #2051c2;
  color: #6e6e6e;
}

.logout_ok:hover {
  color: #d4dfe6;
  background-color: #2051c2;
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.logout_no:hover {
  color: #d4dfe6;
  background-color: #2051c2;
  letter-spacing: 2px;
  transform: scale(1.14);
  cursor: pointer;
}

.logout_ok:active {
  transform: scale(1.5);
}

.logout_no:active {
  transform: scale(1.5);
}
