<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>리뷰 게시판</title>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>리뷰 목록</h2>
    </div>


    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/}'|" type="button">홈으로</button>
            <button th:if="${session.status}"
                    class="btn btn-primary float-end"
                    onclick="location.href='addReview.html'"
                    th:onclick="|location.href='@{review/reviewWrite}'|" type="button">리뷰 등록</button>
        </div>
    </div>
    <form th:object="${reviewSearch}" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" th:field="*{total}" class="formcontrol" placeholder="문화 제목"/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">검색</button>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th> 제목 </th>
                <th> 문화 </th>
                <th> 별점 </th>
                <th> 사용자 </th>
                <th> 작성일자 </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviewAll}">
                <td><a href="reviewDetail.html"
                       th:href="@{/review/reviewDetail/{review_id}(review_id=${review.id})}"
                       th:text="${review.reviewTitle}">제목</a>
                </td>
                <td th:text="${review.cultureTitle}">문화</td>
                <td th:text="${review.reviewGrade}">별점</td>
                <td th:text="${review.member?.nickName}">작성자</td>
                <td th:text="${review.reviewDateTime}">작성일자</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>