<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메운디 7.4 로그인</title>
    <link href="./login.css" th:href="@{login.css}" rel="stylesheet">
<!--    <script src="./login.js"></script>-->
</head>
<body>
<form>
    <div class="wrapper">
        <div class="wrapper__left">
            <div class="wrapper__left__top"><h3>당신 주변의 문화를 찾아줍니다.<br>메운디 7.4</h3></div>
            <img class="img__background" src="/img/login_image.png">
        </div>
        <div class="wrapper__right">
            <div class="wrapper__right__top"><h3>로그인</h3></div>
            <input class="inputbox" id="id" placeholder="아이디" type="text">
            <input class="inputbox" id="password" placeholder="비밀번호" type="password">
            <a href="/index" class="login__button">로그인</a>
            <a href="/members/new" class="signup__button">회원가입</a>
        </div>
    </div>
    <div class="login-group">
        <h3>카카오 로그인</h3>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=92fbf81b06d378a41d55ee603e5b6bd0&redirect_uri=http://localhost:8080/home/member&response_type=code">
            <img src="/img/kakao_login_medium_narrow.png">
        </a>
    </div>
</form>
</body>
</html>