<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

    <form action="/members/login" method="post">
        <div class="form-group">
            <label for="id">id</label>
            <input type="text" id="id" name="id" placeholder="Input ID">
            <div></div>
            <label for="password">password</label>
            <input type="text" id="password" name="password" placeholder="Input Password">
        </div>
        <button type="login">login</button>
    </form>

</div> <!-- /container -->
</body>
</html>