<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>마이페이지</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>마이페이지</h2>
    </div>
    <hr class="my-4">
    <form th:action="@{/members/info/update}" th:method="post" th:object="${myInfo}">
        <div class="form-group">
            <label for="nickName">닉네임: </label>
            <input type="text" id="nickName" th:field="*{nickName}">
            <br>
            <label for="district">거주 지역: </label>
            <input type="text" id="district" th:field="*{district}">
            <br>
            <label for="favoriteCategory">선호 카테고리: </label>
            <input type="text" id="favoriteCategory" th:field="*{favoriteCategory}">
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        type="submit">수정 하기
                </button>
                <button class="btn btn-primary float-end"
                        onclick="location.href='myInfo.html'"
                        th:onclick="|location.href='@{/members/info}'|"
                        type="button">취소
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>