.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.container_body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_body_inner {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 140px;
}

.title1 {
  font-size: 20pt;
  color: #2051c2;
}

.title2 {
  color: #2051c2;
  font-size: 24pt;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 2.5px solid #707070;
  padding: 25px;
}

.poster {
  width: 320px;
  height: 400px;
}

.inner_content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 22px;
}

.inner_title {
  font-size: 30px;
  font-weight: 600;
}

.info {
  font-size: 25px;
  margin-top: 8px;
}

.info_active {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  align-items: center;
}

.info_active div {
  margin-right: 20px;
}

.link_site {
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2051c2;
}

.link_site a {
  color: #2051c2;
  font-size: 22px;
  cursor: pointer;
}

.createPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 15px;
  color: #2051c2;
  font-family: "paybooc-Light", sans-serif;
  font-weight: 600;
  transition: 0.25s;
}

.createPost:hover {
  border-radius: 15px;
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.createPost span {
  font-size: 13px;
  font-weight: 600;
  color: #2051c2;
}

.createPost:active {
  transform: scale(1.3);
}

.zzim1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zzim1 img:hover {
  transform: scale(1.3);
}

.zzim1 span {
  font-size: 13px;
  font-weight: 700;
  color: #2051c2;
}

.culture_friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.culture_friend img:hover {
  transform: scale(1.3);
}

.culture_friend span {
  font-size: 13px;
  font-weight: 700;
  color: #2051c2;
}

.join_none {
  display: none;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join img:hover {
  transform: scale(1.3);
}

.join span {
  font-size: 10px;
  font-weight: 700;
  color: #2051c2;
}

.lets_together {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lets_together span {
  font-size: 10px;
  font-weight: 700;
  color: #2051c2;
}

.zzim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.lower_content {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  border-top: 2.5px solid #707070;
}

.review_preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.review_preview div {
  width: auto;
  height: 50px;
  size: 50px;
  font-size: 30px;
  cursor: pointer;
}

.box_review_preview_content {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 5px;
  font-size: 19px;
  margin-left: 10px;
}

.review_preview_title {
  width: fit-content;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.review_preview_content {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
