.container {
  /* background-color: blue; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.container_body {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-height: 1600px; */
}

.container_body_inner {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  /* max-height: 600px; */
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 140px;
}

/* .container_body_inner div h1 {
      color: dodgerblue;
    } */

.title1 {
  font-size: 20pt;
  color: dodgerblue;
}

.title2 {
  color: #2051c2;
  font-size: 24pt;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background-color: blueviolet; */
  border-top: 2.5px solid #707070;
  /* padding: 20px 0; */
}

.body_left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  /* background-color: #2051c2; */
}

.body_left_top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.left_top_img {
  width: fit-content;
  height: fit-content;
}

.left_top_img img {
  width: 155px;
  height: 200px;
}

.left_top_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.inner_title {
  font-weight: 600;
  margin-top: 14px;
  font-size: 15px;
}

#inner_title {
  font-weight: 600;
  margin-top: 6px;
  font-size: 15px;
}

.info {
  margin-top: 6px;
}

.body_left_bottom {
  margin-left: 5px;
}

.body_right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.talk_box {
  width: 100%;
  height: 500px;
  background-color: #f1f3f5;
  padding: 30px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.renderList_container {
  padding-inline-start: 0px;
  margin-left: 3px;
  margin-bottom: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.renderList_container2 {
  padding-inline-start: 0px;
  margin-left: 3px;
  margin-bottom: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input:focus {
  outline: none;
}

.comment_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.comment_id {
  font-size: 15px;
  margin-right: 8px;
}

.comment_date {
  padding-top: 0.5px;
  font-size: 12px;
}

.comment_content {
  font-size: 20px;
  color: #707070;
  cursor: pointer;
}

.comment_content_inner {
  margin-right: 20px;
}

.comment_content_inner2 {
  margin-left: 20px;
  color: #2051c2;
}
