<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메운디 7.4</title>
</head>
<body>
<div class="container">
    <div th:if="${param.status}">
        <h1>메운디 7.4</h1>
        <p>
            <a href="/members/info">내 정보</a>
            <a href="/members/logout">로그아웃</a>
        </p>
    </div>
    <div th:unless="${param.status}">
        <h1>메운디 7.4</h1>
        <p>
            <a href="/members/new">회원가입</a>
            <a href="/members/login">로그인</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>