<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메운디 7.4</title>
</head>
<body>
<div class="container">
    <div>
        <h1>메운디 7.4</h1>
        <p th:if="${session.status}">
            <a href="/members/info">마이페이지</a>
            <a th:href="@{/auth/logout/{loginType}(loginType=${session.type})}">로그아웃</a>
        </p>
        <p th:unless="${session.status}">
            <a href="/members/login">회원가입</a>
            <a href="/members/login">로그인</a>
        </p>
    </div>
    <div>
        <p>
            <a href="/review">리뷰 게시판</a>
            <a href="/cultures/1">문화 목록</a>
            <a href="/culturerequest/list">문화 추가 요청</a>
        </p>
    </div>
    <div>
        <h3>최신 문화 생활</h3>
        <table class="table">
            <tr th:each="culture : ${cultureList}">
                <a th:href="@{/cultures/detail/{culture_id}(culture_id=${culture.id})}" style="text-decoration: none">
                        <img th:src="${culture.main_img}" th:alt="${culture.title}" alt="상세페이지"
                        width="200" height="200"/>
                </a>
            </tr>
        </table>
    </div>
    <div th:if="${session.status} and ${recommendList}">
        <h3 th:text="|${recommendName}의 최신 문화 생활|">카테고리</h3>
        <tr th:each="recommend : ${recommendList}">
            <a th:href="@{/cultures/detail/{culture_id}(culture_id=${recommend.id})}" style="text-decoration: none">
                <img th:src="${recommend.main_img}" th:alt="${recommend.title}" alt="상세페이지"
                     width="200" height="200"/>
            </a>
        </tr>
    </div>
    <div th:if="${session.status}">
        <h3 th:text="|${district}의 최신 문화 생활|">카테고리</h3>
        <tr th:each="gu : ${guList}">
            <a th:href="@{/cultures/detail/{culture_id}(culture_id=${gu.id})}" style="text-decoration: none">
                <img th:src="${gu.main_img}" th:alt="${gu.title}" alt="상세페이지"
                     width="200" height="200"/>
            </a>
        </tr>
    </div>
</div> <!-- /container -->

</body>
</html>