<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>문화 생활 요청</title>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>문화 생활 요청</h2>
    </div>


    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/}'|" type="button">홈으로
            </button>
            <button th:if="${session.status}"
                    class="btn btn-primary float-end"
                    onclick="location.href='addRequest.html'"
                    th:onclick="|location.href='@{write}'|" type="button">문화 생활 요청 등록
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestList}">
                <td><a href="requestDetail.html"
                       th:href="@{/culturerequest/requestDetail/{request_id}(request_id=${request.id})}"
                       th:text="${request.title}">제목</a>
                </td>
                <td th:text="${request.member?.nickName}">작성자</td>
                <td th:text="${request.requestDateTime}">작성일자</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <!-- 일단 최신 3개만 화면에 표시 -->
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="cultureList.html" th:href="@{/cultures/1}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="cultureList.html" th:href="@{/cultures/2}">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="cultureList.html" th:href="@{/cultures/3}">3</a>
                </li>
            </ul>
        </nav>
    </div>

</div> <!-- /container -->

</body>
</html>