<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>문화 상세</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>문화 상세</h2>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <tr>
                <td><img th:src="${culture.main_img}" alt="대표이미지">
                </td>
            </tr>
            <tr>
                <!--                <td>제목</td>-->
                <td th:text="${culture.title}">제목</td>
            </tr>
            <tr>
                <!--                <td>분류</td>-->
                <td th:text="${culture.codeName}">분류</td>
            </tr>
            <tr>
                <!--                <td>시작/종료일</td>-->
                <td th:text="${culture.date}">시작/종료일</td>
            </tr>
            <tr>
                <!--                <td>지역구</td>-->
                <td th:text="${culture.guname}">지역구</td>
            </tr>
            <tr>
                <!--                <td>상세 정보</td>-->
                <td><a th:href="${culture.org_link}">상세 정보 링크</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <!--     해당 문화리스트 페이지로 갈 수 있게 href 수정 필요       -->
            <button class="btn btn-primary float-end"
                    onclick="history.back()"
                    type="button">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>